#light{
    display: none;
}

body{
    background-color: rgb(112, 112, 243);
}
#div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10%;
    flex-direction: column;
}
#image{
    width: 220px;
}
#button{
    display: flex;
    margin: 20px 0;
}
#on{
    margin-right: 10px;
}
button{
    background-color: yellow;
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 5px;
    outline: none;
}
p{
    font-size: 20px;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}